# Getting Started with Jupyter Notebooks

## 1. Import Libraries

In [2]:
import pandas as pd

## 2. Load the Dataset

In [3]:
df = pd.read_csv('data/NY-House-Dataset.csv')

## 3. Overview of the Dataset

In [8]:
# Show dataset columns
df.columns

Index(['BROKERTITLE', 'TYPE', 'PRICE', 'BEDS', 'BATH', 'PROPERTYSQFT',
       'ADDRESS', 'STATE', 'MAIN_ADDRESS', 'ADMINISTRATIVE_AREA_LEVEL_2',
       'LOCALITY', 'SUBLOCALITY', 'STREET_NAME', 'LONG_NAME',
       'FORMATTED_ADDRESS', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [9]:
# Show additional info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4801 entries, 0 to 4800
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   BROKERTITLE                  4801 non-null   object
 1   TYPE                         4801 non-null   object
 2   PRICE                        4801 non-null   int64
 3   BEDS                         4801 non-null   int64
 4   BATH                         4801 non-null   float64
 5   PROPERTYSQFT                 4801 non-null   float64
 6   ADDRESS                      4801 non-null   object
 7   STATE                        4801 non-null   object
 8   MAIN_ADDRESS                 4801 non-null   object
 9   ADMINISTRATIVE_AREA_LEVEL_2  4801 non-null   object
 10  LOCALITY                     4801 non-null   object
 11  SUBLOCALITY                  4801 non-null   object
 12  STREET_NAME                  4801 non-null   object
 13  LONG_NAME                    4801 non-null   object
 14  FORMATTED_ADDRESS            4801 non-null   object
 15  LATITUDE                     4801 non-null   float64
 16  LONGITUDE                    4801 non-null   float64
dtypes: float64(4), int64(2), object(11)
memory usage: 637.8+ KB

In [10]:
# Show dataset shape
df.shape

(4801, 17)

In [7]:
# First 10 rows
df.head(10)

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000,1400.000000,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.000000,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000,2015.000000,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.000000,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.000000,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856
5,Brokered by Sowae Corp,House for sale,690000,5,2.000000,4004.000000,584 Park Pl,"Brooklyn, NY 11238","584 Park PlBrooklyn, NY 11238",United States,New York,Kings County,Brooklyn,Park Place,"584 Park Pl, Brooklyn, NY 11238, USA",40.674363,-73.958725
6,Brokered by Douglas Elliman - 575 Madison Ave,Condo for sale,899500,2,2.000000,2184.207862,157 W 126th St Unit 1B,"New York, NY 10027","157 W 126th St Unit 1BNew York, NY 10027",New York,New York County,New York,Manhattan,157,"157 W 126th St #1b, New York, NY 10027, USA",40.809448,-73.946777
7,Brokered by Connie Profaci Realty,House for sale,16800000,8,16.000000,33000.000000,177 Benedict Rd,"Staten Island, NY 10304","177 Benedict RdStaten Island, NY 10304",United States,New York,Richmond County,Staten Island,Benedict Road,"177 Benedict Rd, Staten Island, NY 10304, USA",40.595002,-74.106424
8,Brokered by Pantiga Group Inc.,Co-op for sale,265000,1,1.000000,750.000000,875 Morrison Ave Apt 3M,"Bronx, NY 10473","875 Morrison Ave Apt 3MBronx, NY 10473",Bronx County,The Bronx,East Bronx,Morrison Avenue,Parking lot,"Parking lot, 875 Morrison Ave #3m, Bronx, NY 1...",40.821586,-73.874089
9,Brokered by CENTURY 21 MK Realty,Co-op for sale,440000,2,1.000000,978.000000,1350 Ocean Pkwy Apt 5G,"Brooklyn, NY 11230","1350 Ocean Pkwy Apt 5GBrooklyn, NY 11230",New York,Kings County,Brooklyn,Midwood,1350,"1350 Ocean Pkwy #5g, Brooklyn, NY 11230, USA",40.615738,-73.969694

In [6]:
# Last 10 rows
df.tail(10)

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
4791,Brokered by Corcoran East Side,Co-op for sale,370000,3,1.0,2184.207862,342 E 53rd St Apt 6C,"New York, NY 10022","342 E 53rd St Apt 6CNew York, NY 10022",New York,New York County,New York,Manhattan,342,"342 E 53rd St #6c, New York, NY 10022, USA",40.755822,-73.965514
4792,Brokered by Ilite Realty Inc,Multi-family home for sale,1700000,3,7.0,7854.000000,448 40th St,"Brooklyn, NY 11232","448 40th StBrooklyn, NY 11232",United States,New York,Kings County,Brooklyn,40th Street,"448 40th St, Brooklyn, NY 11232, USA",40.651222,-74.005780
4793,Brokered by Engel & V�������,Co-op for sale,1950000,2,4.0,2184.207862,700 Park Ave Unit 20A,"New York, NY 10021","700 Park Ave Unit 20ANew York, NY 10021",New York,New York County,New York,Manhattan,700,"700 Park Ave #20a, New York, NY 10021, USA",40.769478,-73.965389
4794,Brokered by Brown Harris Stevens,Condo for sale,945000,2,2.0,903.000000,2351 Adam Clayton Powell Jr Blvd Apt 614,"Manhattan, NY 10030",2351 Adam Clayton Powell Jr Blvd Apt 614Manhat...,New York,New York County,New York,Manhattan,2351,2351 Adam Clayton Powell Jr Blvd Apartment 614...,40.816711,-73.942050
4795,Brokered by RE MAX Edge,Multi-family home for sale,2999999,15,9.0,3600.000000,2825-2827 W 15th St,"Brooklyn, NY 11224","2825-2827 W 15th StBrooklyn, NY 11224",United States,New York,Kings County,Brooklyn,West 15th Street,"2825 W 15th St, Brooklyn, NY 11224, USA",40.578450,-73.982739
4796,Brokered by COMPASS,Co-op for sale,599000,1,1.0,2184.207862,222 E 80th St Apt 3A,"Manhattan, NY 10075","222 E 80th St Apt 3AManhattan, NY 10075",New York,New York County,New York,Manhattan,222,"222 E 80th St #3a, New York, NY 10075, USA",40.774350,-73.955879
4797,Brokered by Mjr Real Estate Llc,Co-op for sale,245000,1,1.0,2184.207862,97-40 62 Dr Unit Lg,"Rego Park, NY 11374","97-40 62 Dr Unit LgRego Park, NY 11374",United States,New York,Queens County,Queens,62nd Drive,"97-40 62nd Dr, Rego Park, NY 11374, USA",40.732538,-73.860152
4798,Brokered by Douglas Elliman - 575 Madison Ave,Co-op for sale,1275000,1,1.0,2184.207862,427 W 21st St Unit Garden,"New York, NY 10011","427 W 21st St Unit GardenNew York, NY 10011",United States,New York,New York County,New York,West 21st Street,"427 W 21st St, New York, NY 10011, USA",40.745882,-74.003398
4799,Brokered by E Realty International Corp,Condo for sale,598125,2,1.0,655.000000,91-23 Corona Ave Unit 4G,"Elmhurst, NY 11373","91-23 Corona Ave Unit 4GElmhurst, NY 11373",New York,Queens County,Queens,Flushing,91-23,"91-23 Corona Ave. #4b, Flushing, NY 11373, USA",40.742770,-73.872752
4800,Brokered by Nyc Realty Brokers Llc,Co-op for sale,349000,1,1.0,750.000000,460 Neptune Ave Apt 14O,"Brooklyn, NY 11224","460 Neptune Ave Apt 14OBrooklyn, NY 11224",New York,Kings County,Brooklyn,Coney Island,460,"460 Neptune Ave #14a, Brooklyn, NY 11224, USA",40.579147,-73.970949

## 4. Subsetting Columns

In [11]:
df[["TYPE", "PRICE", "BEDS", 'BATH']]

                    TYPE      PRICE  BEDS       BATH
0         Condo for sale     315000     2   2.000000
1         Condo for sale  195000000     7  10.000000
2         House for sale     260000     4   2.000000
3         Condo for sale      69000     3   1.000000
4     Townhouse for sale   55000000     7   2.373861
...                  ...        ...   ...        ...
4796      Co-op for sale     599000     1   1.000000
4797      Co-op for sale     245000     1   1.000000
4798      Co-op for sale    1275000     1   1.000000
4799      Condo for sale     598125     2   1.000000
4800      Co-op for sale     349000     1   1.000000

[4801 rows x 4 columns]

### Slices

In [16]:
# First 5 columns
df[df.columns[:5]]

# Last 5 columns
df[df.columns[-5:]]

# Use list comprehension to get every column with "ADDRESS" in it
df[[column for column in df.columns if "ADDRESS" in column]]

,ADDRESS,MAIN_ADDRESS,FORMATTED_ADDRESS
0,2 E 55th St Unit 803,"2 E 55th St Unit 803New York, NY 10022","Regis Residence, 2 E 55th St #803, New York, N..."
1,Central Park Tower Penthouse-217 W 57th New Yo...,Central Park Tower Penthouse-217 W 57th New Yo...,"217 W 57th St, New York, NY 10019, USA"
2,620 Sinclair Ave,"620 Sinclair AveStaten Island, NY 10312","620 Sinclair Ave, Staten Island, NY 10312, USA"
3,2 E 55th St Unit 908W33,"2 E 55th St Unit 908W33Manhattan, NY 10022","2 E 55th St, New York, NY 10022, USA"
4,5 E 64th St,"5 E 64th StNew York, NY 10065","5 E 64th St, New York, NY 10065, USA"
...,...,...,...
4796,222 E 80th St Apt 3A,"222 E 80th St Apt 3AManhattan, NY 10075","222 E 80th St #3a, New York, NY 10075, USA"
4797,97-40 62 Dr Unit Lg,"97-40 62 Dr Unit LgRego Park, NY 11374","97-40 62nd Dr, Rego Park, NY 11374, USA"
4798,427 W 21st St Unit Garden,"427 W 21st St Unit GardenNew York, NY 10011","427 W 21st St, New York, NY 10011, USA"
4799,91-23 Corona Ave Unit 4G,"91-23 Corona Ave Unit 4GElmhurst, NY 11373","91-23 Corona Ave. #4b, Flushing, NY 11373, USA"
4800,460 Neptune Ave Apt 14O,"460 Neptune Ave Apt 14OBrooklyn, NY 11224","460 Neptune Ave #14a, Brooklyn, NY 11224, USA"

### By data type

In [18]:
# Select only integers
df.select_dtypes('int')

# Select integers and floats
df.select_dtypes(['int', 'float'])

          PRICE  BEDS       BATH  PROPERTYSQFT   LATITUDE  LONGITUDE
0        315000     2   2.000000   1400.000000  40.761255 -73.974483
1     195000000     7  10.000000  17545.000000  40.766393 -73.980991
2        260000     4   2.000000   2015.000000  40.541805 -74.196109
3         69000     3   1.000000    445.000000  40.761398 -73.974613
4      55000000     7   2.373861  14175.000000  40.767224 -73.969856
...         ...   ...        ...           ...        ...        ...
4796     599000     1   1.000000   2184.207862  40.774350 -73.955879
4797     245000     1   1.000000   2184.207862  40.732538 -73.860152
4798    1275000     1   1.000000   2184.207862  40.745882 -74.003398
4799     598125     2   1.000000    655.000000  40.742770 -73.872752
4800     349000     1   1.000000    750.000000  40.579147 -73.970949

[4801 rows x 6 columns]

## 5. loc and iloc
Methods for accessing part of the DataFrame

### iloc
Uses the number values for the indices of rows and columns

In [40]:
# Get the element in the first row, 3rd column
df.iloc[0,2]

# Get the first 5 rows and first 5 columns
df.iloc[:5, :5]

# Get every row, but only second and third column
df.iloc[:, 1:3] # or [:, [1,2]]

# Will give 6th row (AS SERIES)
df.iloc[6]

# Will give 6th row (AS DATAFRAME)
df.iloc[[5]]
df.iloc[5:6]

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
5,Brokered by Sowae Corp,House for sale,690000,5,2.0,4004.0,584 Park Pl,"Brooklyn, NY 11238","584 Park PlBrooklyn, NY 11238",United States,New York,Kings County,Brooklyn,Park Place,"584 Park Pl, Brooklyn, NY 11238, USA",40.674363,-73.958725

### loc
Uses index names and column names

In [43]:
# Get every row but only certain values
df.loc[:, ["BEDS", "BATH"]]

# All rows with more than 5 bedrooms
df.loc[df["BEDS"] > 5]

# Filter on multiple conditions (&, |, ~)
df.loc[(df["BEDS"] > 5) & (df["BEDS" == 2])]

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
304,Brokered by ANNE LOPA REAL ESTATE,House for sale,2147483647,7,6.0,10000.0,6659-6675 Amboy Rd,"New York, NY 10309","6659-6675 Amboy RdNew York, NY 10309",United States,New York,Richmond County,Staten Island,Amboy Road,"6659 Amboy Rd, Staten Island, NY 10309, USA",40.518484,-74.224418

## 6. Querying Data

In [53]:
# Basic Query (query is slower than loc)
df.query("(BEDS > 5) and (BATH == 2)")

# Using strings in the query by wrapping them in single quotes
df.query("(BEDS > 5) and (SUBLOCALITY == 'Bronx County')")

# Checking if sublocality contains Bronx
df.query("SUBLOCALITY.str.contains('Bronx')")

# using variables in our boolean expressions
county = "Bronx County"
df.query("(BEDS > 5) and (SUBLOCALITY == @county)")

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
22,Brokered by Keller Williams Ny Realty,Multi-family home for sale,1100000,6,3.000000,2837.000000,1038 Throggs Neck Expy Unit Sr,"Bronx, NY 10465","1038 Throggs Neck Expy Unit SrBronx, NY 10465",United States,New York,Bronx County,The Bronx,Throgs Neck Expressway,"1038 Throgs Neck Expy, Bronx, NY 10465, USA",40.834394,-73.822110
40,Brokered by Exp Realty,Multi-family home for sale,700000,6,2.000000,3053.000000,229 W Tremont Ave Unit A,"Bronx, NY 10453","229 W Tremont Ave Unit ABronx, NY 10453",United States,New York,Bronx County,The Bronx,West Tremont Avenue,"229 W Tremont Ave, Bronx, NY 10453, USA",40.852813,-73.917687
98,Brokered by Americas Real Estate Advisors,House for sale,400000,7,3.000000,2385.000000,340 E 234th St,"Bronx, NY 10470","340 E 234th StBronx, NY 10470",United States,New York,Bronx County,The Bronx,East 234th Street,"340 E 234th St, Bronx, NY 10470, USA",40.896915,-73.865498
225,Brokered by Progress Realty Inc.,Multi-family home for sale,999000,6,2.000000,3144.000000,851 Van Nest Ave,"Bronx, NY 10462","851 Van Nest AveBronx, NY 10462",United States,New York,Bronx County,The Bronx,Van Nest Avenue,"851 Van Nest Ave, Bronx, NY 10462, USA",40.845107,-73.860158
231,Brokered by WW Realty Group Inc,House for sale,999000,6,2.000000,1280.000000,3426 Boller Ave,"Bronx, NY 10475","3426 Boller AveBronx, NY 10475",United States,New York,Bronx County,The Bronx,Boller Avenue,"3426 Boller Ave, Bronx, NY 10475, USA",40.880817,-73.835083
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4645,Brokered by Sungold Realty Corp,House for sale,1000000,8,3.000000,2184.207862,3560 Carlisle Pl Unit 2,"Bronx, NY 10467","3560 Carlisle Pl Unit 2Bronx, NY 10467",United States,New York,Bronx County,The Bronx,Carlisle Place,"3560 Carlisle Pl, Bronx, NY 10467, USA",40.878186,-73.862926
4690,Brokered by Keller Williams Realty Group,Multi-family home for sale,1025000,7,2.000000,2400.000000,1091 Pierce Ave,"Bronx, NY 10461","1091 Pierce AveBronx, NY 10461",United States,New York,Bronx County,The Bronx,Pierce Avenue,"1091 Pierce Ave, Bronx, NY 10461, USA",40.846494,-73.850834
4691,Brokered by Elite Real Estate Group 1 Llc,Multi-family home for sale,4195000,6,17.000000,12733.000000,2245 Creston Ave,"Bronx, NY 10453","2245 Creston AveBronx, NY 10453",United States,New York,Bronx County,The Bronx,Creston Avenue,"2245 Creston Ave, Bronx, NY 10453, USA",40.856930,-73.901697
4701,Brokered by Exp Realty,Multi-family home for sale,600000,6,2.000000,1634.000000,1622 Adams St,"Bronx, NY 10460","1622 Adams StBronx, NY 10460",United States,New York,Bronx County,The Bronx,Adams Street,"1622 Adams St, Bronx, NY 10460, USA",40.840364,-73.870081
4783,Brokered by Silverside Realty LLC,Multi-family home for sale,799000,6,2.373861,2000.000000,4568 Carpenter Ave,"Bronx, NY 10470","4568 Carpenter AveBronx, NY 10470",United States,New York,Bronx County,The Bronx,Carpenter Avenue,"4568 Carpenter Ave, Bronx, NY 10470, USA",40.902780,-73.854059

# Homework / Lab

## iloc/loc
### 1. Write code to get columns 4 and 5 of rows 6 to 10 inclusive

In [57]:
df.iloc[3:5, 5:10]

,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2
3,445.0,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States
4,14175.0,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States

### 2. Display the all columns of the last row using iloc. Display it first as a Series then a DataFrame.

In [59]:
# Series
df.iloc[-1]

# DataFrame
df.iloc[[-1]]

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
4800,Brokered by Nyc Realty Brokers Llc,Co-op for sale,349000,1,1.0,750.0,460 Neptune Ave Apt 14O,"Brooklyn, NY 11224","460 Neptune Ave Apt 14OBrooklyn, NY 11224",New York,Kings County,Brooklyn,Coney Island,460,"460 Neptune Ave #14a, Brooklyn, NY 11224, USA",40.579147,-73.970949

### 3. Write code to get rows 16 to 21 inclusive and columns TYPE and BATH

In [68]:
# Using fact rownames are ints
df.loc[15:20, ["TYPE", 'BATH']]

# Using iloc + loc
df.iloc[15:21].loc[:, ["TYPE", 'BATH']]

                  TYPE  BATH
15      Condo for sale   2.0
16  Townhouse for sale   2.0
17      Co-op for sale   1.0
18      Co-op for sale   1.0
19      Condo for sale   2.0
20      House for sale   2.0

### 4. Write code to get all rows with a square footage bigger than 5000
**You should get back 203 rows and 17 columns**

In [69]:
df.loc[(df.PROPERTYSQFT > 5000)]

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.0,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.0,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856
7,Brokered by Connie Profaci Realty,House for sale,16800000,8,16.000000,33000.0,177 Benedict Rd,"Staten Island, NY 10304","177 Benedict RdStaten Island, NY 10304",United States,New York,Richmond County,Staten Island,Benedict Road,"177 Benedict Rd, Staten Island, NY 10304, USA",40.595002,-74.106424
27,Brokered by Century 21 Realty First,Multi-family home for sale,2250000,12,2.373861,5670.0,2361 81st St,"Brooklyn, NY 11214","2361 81st StBrooklyn, NY 11214",11214,United States,New York,Kings County,81st Street,"2361 81st St, Brooklyn, NY 11214, USA",40.602654,-73.986940
32,Brokered by RJM Realty Empire Inc.,Multi-family home for sale,1300000,10,8.000000,5040.0,366 Union Ave Unit 4,"Staten Island, NY 10303","366 Union Ave Unit 4Staten Island, NY 10303",New York,Richmond County,Staten Island,Mariners Harbor,366,"366 Union Ave #4, Staten Island, NY 10303, USA",40.627438,-74.158161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4651,"Brokered by Garfield, Leslie J. & Co., Inc.",Townhouse for sale,10750000,8,9.000000,7327.0,141-143 E 63rd St,"New York, NY 10065","141-143 E 63rd StNew York, NY 10065",United States,New York,New York County,New York,East 63rd Street,"141 E 63rd St, New York, NY 10065, USA",40.764757,-73.965815
4691,Brokered by Elite Real Estate Group 1 Llc,Multi-family home for sale,4195000,6,17.000000,12733.0,2245 Creston Ave,"Bronx, NY 10453","2245 Creston AveBronx, NY 10453",United States,New York,Bronx County,The Bronx,Creston Avenue,"2245 Creston Ave, Bronx, NY 10453, USA",40.856930,-73.901697
4722,Brokered by COMPASS,Condo for sale,24500000,4,6.000000,5427.0,838 5th Ave Fl 6,"Manhattan, NY 10065","838 5th Ave Fl 6Manhattan, NY 10065",New York,New York County,New York,Manhattan,838,"838 5th Ave FL 6, New York, NY 10065, USA",40.767742,-73.970037
4745,Brokered by Brown Harris Stevens,Townhouse for sale,10500000,7,10.000000,7040.0,115-117 W 87th St Unit Townhouse,"Manhattan, NY 10024","115-117 W 87th St Unit TownhouseManhattan, NY ...",United States,New York,New York County,New York,West 87th Street,"115 W 87th St, New York, NY 10024, USA",40.787573,-73.972133
4792,Brokered by Ilite Realty Inc,Multi-family home for sale,1700000,3,7.000000,7854.0,448 40th St,"Brooklyn, NY 11232","448 40th StBrooklyn, NY 11232",United States,New York,Kings County,Brooklyn,40th Street,"448 40th St, Brooklyn, NY 11232, USA",40.651222,-74.005780

### 5. Write code to get the square footage and main address of all properties bigger than 5000 sqft.
**You should get back 203 rows and 2 columns**

In [70]:
df.loc[(df.PROPERTYSQFT > 5000), ["MAIN_ADDRESS", "PROPERTYSQFT"]]

                                           MAIN_ADDRESS  PROPERTYSQFT
1     Central Park Tower Penthouse-217 W 57th New Yo...       17545.0
4                         5 E 64th StNew York, NY 10065       14175.0
7                177 Benedict RdStaten Island, NY 10304       33000.0
27                       2361 81st StBrooklyn, NY 11214        5670.0
32          366 Union Ave Unit 4Staten Island, NY 10303        5040.0
...                                                 ...           ...
4651                141-143 E 63rd StNew York, NY 10065        7327.0
4691                    2245 Creston AveBronx, NY 10453       12733.0
4722                838 5th Ave Fl 6Manhattan, NY 10065        5427.0
4745  115-117 W 87th St Unit TownhouseManhattan, NY ...        7040.0
4792                      448 40th StBrooklyn, NY 11232        7854.0

[203 rows x 2 columns]

### 6. Write code to get the square footage, main address, and number of bedrooms of all properties bigger than 5000 sqft who have more than 5 bedrooms.
You should get back 135 rows and 3 columns

In [72]:
df.loc[(df.PROPERTYSQFT > 5000) & (df.BEDS > 5), ["MAIN_ADDRESS", "PROPERTYSQFT", "BEDS"]]

                                           MAIN_ADDRESS  PROPERTYSQFT  BEDS
1     Central Park Tower Penthouse-217 W 57th New Yo...       17545.0     7
4                         5 E 64th StNew York, NY 10065       14175.0     7
7                177 Benedict RdStaten Island, NY 10304       33000.0     8
27                       2361 81st StBrooklyn, NY 11214        5670.0    12
32          366 Union Ave Unit 4Staten Island, NY 10303        5040.0    10
...                                                 ...           ...   ...
4532                    180 E 73rd StNew York, NY 10021        6800.0     6
4595               175-177 E 78th StManhattan, NY 10075        6000.0     8
4651                141-143 E 63rd StNew York, NY 10065        7327.0     8
4691                    2245 Creston AveBronx, NY 10453       12733.0     6
4745  115-117 W 87th St Unit TownhouseManhattan, NY ...        7040.0     7

[135 rows x 3 columns]

## Query
### 7. Display the information for all condos.
**You should get back 896 rows and 17 columns**

In [73]:
df.query("TYPE.str.contains('Condo')")

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000,1400.000000,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.000000,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.000000,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613
6,Brokered by Douglas Elliman - 575 Madison Ave,Condo for sale,899500,2,2.000000,2184.207862,157 W 126th St Unit 1B,"New York, NY 10027","157 W 126th St Unit 1BNew York, NY 10027",New York,New York County,New York,Manhattan,157,"157 W 126th St #1b, New York, NY 10027, USA",40.809448,-73.946777
15,Brokered by Awaye Realty,Condo for sale,549000,2,2.000000,1000.000000,4654 Amboy Rd Unit 2B,"Staten Island, NY 10312","4654 Amboy Rd Unit 2BStaten Island, NY 10312",New York,Richmond County,Staten Island,Annadale,4654,"4654 Amboy Rd #2b, Staten Island, NY 10312, USA",40.540621,-74.167163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4784,Brokered by Akcess24homes Inc,Condo for sale,349000,2,1.000000,2184.207862,97-52 75th St Unit B42,"Ozone Park, NY 11416","97-52 75th St Unit B42Ozone Park, NY 11416",United States,New York,Queens County,Queens,75th Street,"97-52 75th St, Ozone Park, NY 11416, USA",40.679752,-73.862498
4787,Brokered by REAL NEW YORK - Remote Brooklyn,Condo for sale,499000,3,1.000000,472.000000,127 W 112th St Apt 1B,"New York, NY 10026","127 W 112th St Apt 1BNew York, NY 10026",New York,New York County,New York,Manhattan,127,"127 W 112th St #1b, New York, NY 10026, USA",40.800382,-73.953136
4790,Brokered by Serhant,Condo for sale,789000,3,2.373861,800.000000,109 Lafayette St Rm 502,"New York, NY 10013","109 Lafayette St Rm 502New York, NY 10013",New York,New York County,New York,Manhattan,109,"109 Lafayette St RM 502, New York, NY 10013, USA",40.717926,-74.000594
4794,Brokered by Brown Harris Stevens,Condo for sale,945000,2,2.000000,903.000000,2351 Adam Clayton Powell Jr Blvd Apt 614,"Manhattan, NY 10030",2351 Adam Clayton Powell Jr Blvd Apt 614Manhat...,New York,New York County,New York,Manhattan,2351,2351 Adam Clayton Powell Jr Blvd Apartment 614...,40.816711,-73.942050
4799,Brokered by E Realty International Corp,Condo for sale,598125,2,1.000000,655.000000,91-23 Corona Ave Unit 4G,"Elmhurst, NY 11373","91-23 Corona Ave Unit 4GElmhurst, NY 11373",New York,Queens County,Queens,Flushing,91-23,"91-23 Corona Ave. #4b, Flushing, NY 11373, USA",40.742770,-73.872752

### Display the information (all columns) for properties with a price less than $400,000 and in The Bronx (use the column SUBLOCALITY).
**You should get back 148 rows and 17 columns.**

In [74]:
df.query("(PRICE < 400000) and (SUBLOCALITY == 'The Bronx')")

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
10,Brokered by Engel & Volkers Americas,Co-op for sale,375000,2,1.0,850.000000,800 Grand Concourse Apt 2JS,"Bronx, NY 10451","800 Grand Concourse Apt 2JSBronx, NY 10451",New York,Bronx County,The Bronx,Concourse Village,800,"800 Grand Concourse #2j, Bronx, NY 10451, USA",40.824870,-73.922983
18,Brokered by Coldwell Banker Realty,Co-op for sale,350000,1,1.0,700.000000,5800 Arlington Ave Apt 21A,"Bronx, NY 10471","5800 Arlington Ave Apt 21ABronx, NY 10471",New York,Bronx County,The Bronx,North Riverdale,5800,"5800 Arlington Ave Apt 21s, Bronx, NY 10471, USA",40.907370,-73.906558
43,Brokered by Brown Harris Stevens,Co-op for sale,199900,1,1.0,2184.207862,828 Gerard Ave Apt 5F,"Bronx, NY 10451","828 Gerard Ave Apt 5FBronx, NY 10451",New York,Bronx County,The Bronx,Concourse,828,"828 Gerard Ave #5f, Bronx, NY 10451, USA",40.826035,-73.925663
146,Brokered by RE MAX Boutique Realty,Co-op for sale,90000,1,1.0,450.000000,1383 Plimpton Ave Apt 1C,"Bronx, NY 10452","1383 Plimpton Ave Apt 1CBronx, NY 10452",New York,Bronx County,The Bronx,Highbridge,1383,"1383 Plimpton Ave #1c, Bronx, NY 10452, USA",40.842371,-73.923444
205,Brokered by Sotheby's International Realty - D...,Co-op for sale,269000,1,1.0,2184.207862,4901 Henry Hudson Pkwy W Apt 5F,"Bronx, NY 10471","4901 Henry Hudson Pkwy W Apt 5FBronx, NY 10471",New York,Bronx County,The Bronx,Hudson Hill,4901,"4901 Henry Hudson Pkwy W #5f, Bronx, NY 10471,...",40.896805,-73.908747
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4591,Brokered by Corcoran Westside Columbus,Co-op for sale,280000,2,1.0,1050.000000,3000 Valentine Ave Apt 3B,"Bronx, NY 10458","3000 Valentine Ave Apt 3BBronx, NY 10458",New York,Bronx County,The Bronx,West Bronx,3000,"3000 Valentine Ave #3b, Bronx, NY 10458, USA",40.872414,-73.885223
4662,Brokered by COMPASS,Co-op for sale,375000,2,1.0,2184.207862,5900 Arlington Ave Apt 10H,"Bronx, NY 10471","5900 Arlington Ave Apt 10HBronx, NY 10471",New York,Bronx County,The Bronx,North Riverdale,5900,"5900 Arlington Ave #10h, Bronx, NY 10471, USA",40.909252,-73.905421
4692,Brokered by Mp Power Realty,Co-op for sale,167999,1,1.0,2184.207862,3121 Middletown Rd Apt 6B,"Bronx, NY 10461","3121 Middletown Rd Apt 6BBronx, NY 10461",New York,Bronx County,The Bronx,Pelham Bay,3121,"3121 Middletown Rd #6b, Bronx, NY 10461, USA",40.845596,-73.826422
4731,Brokered by Brown Harris Stevens,Co-op for sale,309000,2,1.0,2184.207862,3935 Blackstone Ave Apt 3F,"Bronx, NY 10471","3935 Blackstone Ave Apt 3FBronx, NY 10471",New York,Bronx County,The Bronx,Riverdale,3935,"3935 Blackstone Ave #3f, Bronx, NY 10471, USA",40.890384,-73.911788
4732,"Brokered by OneKey MLS LLC - Foxworth Realty, ...",Co-op for sale,295500,1,1.0,2184.207862,3015 Riverdale Ave Apt 2A,"New York, NY 10463","3015 Riverdale Ave Apt 2ANew York, NY 10463",New York,Bronx County,The Bronx,Spuyten Duyvil,3015,"3015 Riverdale Ave #2a, Bronx, NY 10463, USA",40.880930,-73.910749